<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-content" [fullscreen]="true">

  <div class="avatar-wrapper">
    <ion-avatar class="profile-avatar">
      <img src="assets/avatar-placeholder.png" alt="Foto do usuário" />
    </ion-avatar>
  </div>

  <ion-list class="menu-list" lines="none">

    <ion-item button detail="true" class="menu-item" (click)="goTo('editar-perfil')">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label>Editar perfil</ion-label>
    </ion-item>

    <ion-item button detail="true" class="menu-item" (click)="goTo('pagamentos')">
      <ion-icon slot="start" name="card-outline"></ion-icon>
      <ion-label>Métodos de pagamento</ion-label>
    </ion-item>

    <ion-item button detail="true" class="menu-item" (click)="goTo('atividades')">
      <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
      <ion-label>Histórico de atividades</ion-label>
    </ion-item>

    <ion-item button detail="true" class="menu-item" (click)="goTo('preferencias')">
      <ion-icon slot="start" name="leaf-outline"></ion-icon>
      <ion-label>Preferências</ion-label>
    </ion-item>

    <ion-item button detail="true" class="menu-item" (click)="goTo('sobre')">
      <ion-icon slot="start" name="business-outline"></ion-icon>
      <ion-label>Sobre o app</ion-label>
    </ion-item>

    <ion-item button detail="true" class="menu-item logout-item" (click)="logout()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Sair</ion-label>
    </ion-item>

  </ion-list>

</ion-content>