<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="tab2-content" [fullscreen]="true">

  <div class="avatar-wrapper">
    <ion-avatar class="tab2-avatar">
      <img src="../../assets/icon/avatar.jpg" alt="avatar" class="usuario.foto">
    </ion-avatar>
  </div>

  <ion-list class="menu-list" lines="none">

    <ion-item button detail="true" class="menu-item" (click)="goTo('editar-perfil')">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label>Editar perfil</ion-label>
    </ion-item>

    <ion-item button detail="true" class="menu-item" (click)="goTo('pagamentos')">
      <ion-icon slot="start" name="card-outline"></ion-icon>
      <ion-label>Integração Bancária</ion-label>
    </ion-item>

    <ion-item button detail="true" class="menu-item" (click)="goTo('atividades')">
      <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
      <ion-label>Histórico de atividades</ion-label>
    </ion-item>

    <ion-item button detail="true" class="menu-item" (click)="goTo('preferencias')">
      <ion-icon name="rocket-outline"></ion-icon>
      <ion-label>Metas</ion-label>
    </ion-item>

    <ion-item button detail="true" class="menu-item" (click)="goTo('sobre')">
      <ion-icon name="sparkles-outline"></ion-icon>
      <ion-label>Sobre o app</ion-label>
    </ion-item>

    <ion-item button detail="true" class="menu-item logout-item" (click)="logout()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Sair</ion-label>
    </ion-item>

  </ion-list>

</ion-content>